.rwDictWordHeader {
	margin-left: 10px;
}

.rwDictDefin {
	margin-left: 20px;
}

.rwTranWordHeader {
	margin-left: 10px;
}

.rwtransmean {
	margin-left: 20px;
}

.rwMeaningNum {
	margin-left: 30px;
}

.point_cmap {
	margin-left: 10px;
}

.point_symbol {
	margin-left: 20px;
}